-e .
aws-cdk.core==1.83.0
aws-cdk.aws-ec2==1.83.0
aws-cdk.aws-rds==1.83.0
aws-cdk.aws-secretsmanager==1.83.0
aws-cdk.aws-ssm==1.83.0
aws-cdk.aws-lambda==1.83.0
aws-cdk.aws-apigatewayv2==1.83.0
aws-cdk.aws-apigatewayv2-integrations==1.83.0
