attrs==20.3.0
aws-cdk.assets==1.77.0
aws-cdk.aws-apigateway==1.77.0
aws-cdk.aws-apigatewayv2==1.77.0
aws-cdk.aws-applicationautoscaling==1.77.0
aws-cdk.aws-autoscaling-common==1.77.0
aws-cdk.aws-certificatemanager==1.77.0
aws-cdk.aws-cloudformation==1.77.0
aws-cdk.aws-cloudfront==1.77.0
aws-cdk.aws-cloudwatch==1.77.0
aws-cdk.aws-codeguruprofiler==1.77.0
aws-cdk.aws-cognito==1.77.0
aws-cdk.aws-ec2==1.77.0
aws-cdk.aws-ecr==1.77.0
aws-cdk.aws-ecr-assets==1.77.0
aws-cdk.aws-efs==1.77.0
aws-cdk.aws-elasticloadbalancing==1.77.0
aws-cdk.aws-elasticloadbalancingv2==1.77.0
aws-cdk.aws-events==1.77.0
aws-cdk.aws-iam==1.77.0
aws-cdk.aws-kms==1.77.0
aws-cdk.aws-lambda==1.77.0
aws-cdk.aws-logs==1.77.0
aws-cdk.aws-medialive==1.77.0
aws-cdk.aws-mediapackage==1.77.0
aws-cdk.aws-route53==1.77.0
aws-cdk.aws-route53-patterns==1.77.0
aws-cdk.aws-route53-targets==1.77.0
aws-cdk.aws-s3==1.77.0
aws-cdk.aws-s3-assets==1.77.0
aws-cdk.aws-s3-deployment==1.77.0
aws-cdk.aws-sns==1.77.0
aws-cdk.aws-sqs==1.77.0
aws-cdk.aws-ssm==1.77.0
aws-cdk.cloud-assembly-schema==1.77.0
aws-cdk.core==1.77.0
aws-cdk.custom-resources==1.77.0
aws-cdk.cx-api==1.77.0
aws-cdk.region-info==1.77.0
cattrs==1.1.2
cdk-spa-deploy==1.77.0
constructs==3.2.67
jsii==1.16.0
publication==0.0.3
python-dateutil==2.8.1
six==1.15.0
typing-extensions==3.7.4.3
